.navBg{
    width: 100%;
    background-color: #1E86C0; 
    display: flex;
}

.Logo{
    background-color: white;
}

.login{
    background: #EA5356;
    width: 20%;
    letter-spacing: 1px;
    margin: 0;
}

.me-auto{
    background-color: #1E86C0;
    width: 80%;
    letter-spacing: 1px;
    margin: 2;
}
