.main .title-standar{
    text-align: center;
    color: black;
    font-size: 50px;
    font-weight: bold;
    margin: 1%;
}

.main .text-standar{
    text-align: left;
    margin: 1%;
}

.row-cont{
    column-count: 2;
    background-color: white;
    column-gap: 20px;
    height: 400px;


}

.row-cont .col-text{
    text-align: left;
    column-fill: auto;
    margin: 20px;
    
}

.row-cont .col-img{
    column-fill: auto;
    height: 300px;
    margin: 10px;
}

.row-cont-left{
    column-count: 2;
    background-color: white;
    column-gap: 20px;
    height: 400px;
}

.row-cont-left .col-text{
    text-align: left;
    column-fill: auto;
    margin: 20px;
    
}

.row-cont-left .col-img{
    column-fill: auto;
    height: 300px;
    margin: 10px;
}